.signUpContainer {
  &__upperContainer {
    display: flex;
    justify-content: center;
    margin: 64px 16px;

  }
  &__container {
    display: flex;
    flex-direction: column;
    width: 600px;
  }
  &__row {
    display: flex;
  }
  &__submitContainer {
    display: flex;
    flex: 1;
  }
  &__submit-button {
    flex: 1;
  }
  @media only screen and (max-width: 385px) {
    &__row {
      display: flex;
      flex-direction: column;
    }
  }
}
